extends template/layout

block content
	#main.container
		h1 Kick-o-meter
		h2
			ul
				li
					| Description: #{projectDesc}
				li
					| Language: #{projectLang}
				- if(typeof(projectLink) !== 'undefined')
					li
						a(href=projectLink, target='_blank') Link
				- if(typeof(projectVer) !== 'undefined')
					li
						| Latest version: #{projectVer}
				- if(typeof(projectDown) !== 'undefined')
					li
						a(href=projectDown, target='_blank') Download
		| The Art of Warfare:
		ul
		- each kicked in kickeds
			li
				= kicked.kickedName
			ul
				li
					| Count:
					= kicked.count
				li
					| Last kicker name: 
					= kicked.kickerName