extends template/layout

block content
	#main.container
		#center
			script(src='/js/landmark.js')
			img(src=landmarkImage, height='500')
			p Name: #{landmarkName}
			p Address: #{landmarkAddress}
			- if(typeof(landmarkDescription) !== 'undefined')
				p Description: #{landmarkDescription}
			- if(typeof(landmarHours) !== 'undefined')
				p Hours: #{landmarHours}
			//
				- if(typeof(landmarkComments) !== 'undefined')
					ul
					- each comment in landmarkComments
						li
							= comment
			- if(typeof(landmarkComments) !== 'undefined')
				p Comments: #{landmarkComments}
			- if(typeof(landmarkRating) !== 'undefined')
				p Rating: #{landmarkRating}
			button(onClick='deny()') Delete
			button(onClick='approve()') Approve
			#id(style='display:none;') #{landmarkId}